  <div class="card mx-auto mt-3" style="width: 500px;">
    <%= image_tag place.image.url %>
    <div class="card-body text-center">
      <p class="card-text">
        <% if place.tag_list.present? %>
          <% place.tag_list.each do |tag| %>
            #<%= tag %>
          <% end %>
        <% end %>
      </p>
      <h4 class="card-title"><%= place.name %></h4>
      <h6 class="card-subtitle text-right">posted by <%= place.user.name %></h6>
      <p class="card-text py-3">
        ≪ 所要時間 ≫　<%= place.time %>時間<br>
        <%= place.introduction %>
      </p>
    </div>
  </div>
