<div class="col col-lg-3 my-3">
  <%= form_with model: place, url: search_places_path, method: :get, local: true do |f| %>
    <%= f.select :keyword, [['投稿が新しい順', 'new'], ['投稿が古い順', 'old'], ['いいねが多い順', 'likes']], class: "form-outline-secondary" %>
    <%= f.submit "並び替え", class: "btn btn-outline-secondary" %>
  <% end %>
</div>

<% if places.present? %>
  <% places.each do |place| %>
    <%= link_to place_path(place.id) do %>
      <div class="card shadow mx-auto my-3" style="max-width: 500px;">
        <div class="card-body text-muted text-center">
          <p class="card-text">
            <% place.tags.each do |tag| %>
              <% tag.name %>
            <% end %>
          </p>
          <h4 class="card-title"><%= place.address %></h4>
          <h6 class="card-subtitle text-right my-3">posted by <%= place.user.name %></h6>
          <%= image_tag place.image.url %>
          <p class="card-text py-2">所要時間  <%= place.time %>時間</p>
          <h5 class="card-text mb-3"><%= place.introduction %></h5>
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <h5>検索結果はありません</h5>
<% end %>