
<%= link_to "いいね順が多い順に見る", like_rank_places_path, class: 'btn btn-outline-secondary ml-3' %>

<% if search_places.present? %>
  <% search_places.each do |place| %>
    <%= link_to place_path(place.id) do %>
      <div class="card shadow mx-auto my-3" style="max-width: 500px;">
        <div class="card-body text-muted text-center">
          <h4 class="card-title"><%= place.address %></h4>
          <p class="card-text">
            <% place.tags.each do |tag| %>
              ＃<%= tag.name %>
            <% end %>
          </p>
          <p class="card-title"><%= place.prefecture_i18n %></p>
          <h6 class="card-subtitle text-right my-3">posted by <%= place.user.name %></h6>
          <%= image_tag place.image.url %>
          <p class="card-text py-2">所要時間  <%= place.time %>時間</p>
          <h5 class="card-text mb-3"><%= place.introduction %></h5>
          ♥ <%= place.likes.count %> お気に入り
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <h5 class="text-center m-5">検索結果はありません</h5>
<% end %>