<div class="container">
  <div class="row justify-content-center">
    <h4 class="bg-secondary text-white my-3"><%= @place.place_genre.name %></h4>
  </div>

  <div class="row">
    <div class="card shadow mx-auto mt-3 col-lg-4 col-sm-12 col-xs-12" style="max-width: 500px;">
      <div class="card-body text-center">
        <p class="card-text">
          <% @tag_list.each do |tag| %>
            <%= tag.tag_name %>
          <% end %>
        </p>
        <h4 class="card-title"><%= @place.address %></h4>
        <h6 class="card-subtitle text-right my-3">posted by <%= @place.user.name %></h6>
        <%= image_tag @place.image.url %>
        <p class="card-text py-5">
          所要時間  <%= @place.time %>時間<br>
          <%= @place.introduction %>
        </p>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <%= form_with model: @place, url: places_path, method: :post do |f| %>
      <%= f.hidden_field :address %>
      <%= f.hidden_field :prefecture %>
      <%= f.hidden_field :tag_name %>
      <%= f.hidden_field :image %>
      <%= f.hidden_field :image_cache %>
      <%= f.hidden_field :time %>
      <%= f.hidden_field :introduction %>
      <%= f.hidden_field :place_genre_id %>
      <%= f.submit "投稿する", class: "btn btn-success mt-3" %>
    <% end %>
  </div>
</div>