<div class="container">
  <div class="row">
    <h4 class="bg-info text-white">§<%= @place.place_genre.name %>§</h4>
  </div>
  <div class="row justify-content-center">
    <h5 class="bg-dark text-white p-2"><%= @place.name %></h5>
  </div>
  <div class="row justify-content-center">
    <% @place.tag_list.each do |tag| %>
      #<%= tag %>
    <% end %>
  </div>
  <div class="row justify-content-end">
    <p>by <%= @place.user.name %></p>
  </div>
  <div class="row d-flex justify-content-center">
    <%= image_tag attachment_url(@place, :image, :fill, 300, 300) %>
    <div class="ml-3">
      <%= @place.introduction %>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    所要時間　<%= @place.time %>時間
  </div>

  <div class="row justify-content-center">
    <%= form_with model: @place, url: places_path, method: :post do |f| %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :tag_list %>
      <%= f.hidden_field :image %>
      <%= f.hidden_field :image_cache %>
      <%= f.hidden_field :time %>
      <%= f.hidden_field :introduction %>
      <%= f.hidden_field :place_genre_id %>
      <%= f.submit "投稿する", class: "btn btn-success mt-3" %>
    <% end %>
  </div>
</div>