<div class="container">
  <div class="row justify-content-center">
    <h4 class="bg-dark text-white"><%= @place.place_genre.name %></h4>
  </div>
  <div class="row justify-content-center">
    <% if @tags.present? %>
      <% @tags.each do |tag| %>
        #<%= tag %>
      <% end %>
    <% end %>
  </div>

  <%= render 'place', place: @place %>

  <div class="row justify-content-center">
    <%= form_with model: @place, url: places_path, method: :post do |f| %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :tag_list %>
      <%= f.hidden_field :image %>
      <%= f.hidden_field :image_cache %>
      <%= f.hidden_field :time %>
      <%= f.hidden_field :introduction %>
      <%= f.hidden_field :place_genre_id %>
      <%= f.submit "投稿する", class: "btn btn-success mt-3" %>
    <% end %>
  </div>
</div>