<div class="container">
  <form class="d-flex justify-content-end">
    <%= search_form_for @q do |f| %>
      <div style="width: 20%;">
        <%= f.text_field :address_or_introduction_or_user_name_cont, class: "form-control me-2", placeholder: "Search" %>
      </div>
        <%= f.submit "Search", class: "btn btn-outline-success ml-3" %>
    <% end %>
  </form>

  <%= render 'public/place_genres/genre_list', place_genres: @place_genres %>

  <%= render 'search_list', place: @place, places: @places %>

</div>