<div class="container">
  <form class="d-flex justify-content-end">
    <%= search_form_for @q do |f| %>
      <div style="width: 20%;">
        <%= f.text_field :address_or_introduction_or_user_name_cont, class: "form-control me-2", placeholder: "Search" %>
      </div>
        <%= f.submit "Search", class: "btn btn-outline-success ml-3" %>
    <% end %>
  </form>

  <% if @places.present? %>
    <% @places.each do |place| %>
      <%= link_to place_path(place.id) do %>
        <div class="card mx-auto my-3" style="max-width: 500px;">
          <%= image_tag place.image.url %>
          <div class="card-body text-muted text-center">
            <p class="card-text">
              <% place.tag_list.each do |tag| %>
                #<%= tag %>
              <% end %>
            </p>
            <h4 class="card-title"><%= place.address %></h4>
            <h6 class="card-subtitle text-right">posted by <%= place.user.name %></h6>
            <p class="card-text py-3">
              ≪ 所要時間 ≫　<%= place.time %>時間<br>
              <%= place.introduction %>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <h5>検索結果はありません</h5>
  <% end %>
</div>