<div class="container">
  <div class="row">

    <%= render 'public/place_genres/genre_list', place_genres: @place_genres %>

    <div class="col col-lg-9">
      <% @places.each do |place| %>
        <%= link_to place_path(place.id) do %>
          <div class="card mx-auto mt-3" style="width: 500px;">
            <%= image_tag place.image.url %>
            <div class="card-body text-muted text-center">
              <h5 class="card-title"><%= place.name %> by <%= place.user.name %></h5>
              <p class="card-text">
                所要時間　<%= place.time %>時間<br>
                <%= place.introduction %>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>