<div class="container">
  <form class="d-flex justify-content-end">
    <%= search_form_for @q do |f| %>
      <div style="width: 20%;">
        <%= f.text_field :address_or_introduction_or_user_name_cont, class: "form-control me-2", placeholder: "Search" %>
      </div>
        <%= f.submit "Search", class: "btn btn-outline-success ml-3" %>
    <% end %>
  </form>

  <div class="col col-lg-3 my-3">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        ジャンルから選ぶ
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% @place_genres.each do |place_genre| %>
          <%= link_to place_genre.name, place_genre_path(place_genre.id), class: 'dropdown-item' %>
        <% end %>
      </div>
    </div>
  </div>

  <% if @places.present? %>
    <% @places.each do |place| %>
      <%= link_to place_path(place.id) do %>
        <div class="card shadow mx-auto my-3" style="max-width: 500px;">
          <div class="card-body text-muted text-center">
            <p class="card-text">
              <% place.tag_list.each do |tag| %>
                <%= tag %>
              <% end %>
            </p>
            <h4 class="card-title"><%= place.address %></h4>
            <h6 class="card-subtitle text-right my-3">posted by <%= place.user.name %></h6>
            <%= image_tag place.image.url %>
            <p class="card-text py-2">所要時間  <%= place.time %>時間</p>
            <h5 class="card-text mb-3"><%= place.introduction %></h5>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <h5>検索結果はありません</h5>
  <% end %>
</div>