<div class="container">
  <form class="d-flex justify-content-end">
    <%= search_form_for @q do |f| %>
      <div style="width: 20%;">
        <%= f.text_field :name_or_introduction_or_user_name_cont, class: "form-control me-2", placeholder: "Search" %>
      </div>
        <%= f.submit "Search", class: "btn btn-outline-success ml-3" %>
    <% end %>
  </form>

  <div class="row">

    <%= render 'public/place_genres/genre_list', place_genres: @place_genres %>

    <div class="col col-lg-9">
      <% if @places.present? %>
      <% @places.each do |place| %>
        <%= link_to place_path(place.id) do %>
          <div class="card mx-auto mt-3" style="width: 500px;">
            <%= image_tag place.image.url %>
            <div class="card-body text-muted text-center">
              <h5 class="card-title"><%= place.name %> by <%= place.user.name %></h5>
              <p class="card-text">
                所要時間　<%= place.time %>時間<br>
                <%= place.introduction %>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
      <% else %>
        <h5>検索結果はありません</h5>
      <% end %>
    </div>


  </div>
</div>