<div class="container">
  <div class="row justify-content-center">
    <h3 class="bg-light">Place新規登録</h3>
  </div>

  <%= form_with model: @place, url: confirm_places_path, method: :post do |f| %>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <th><%= f.label :place_genre_id, "ジャンル" %></th>
          <th>
            <%= f.select :place_genre_id, options_from_collection_for_select(PlaceGenre.all, :id, :name), :prompt => "--ジャンルを選択してください--" %>
          </th>
        </tr>
        <tr>
          <th><%= f.label :image, "画像" %></th>
          <th>
            <%= f.file_field :image %>
            <%= f.hidden_field :image_cache %>
          </th>
        </tr>
        <tr>
          <th><%= f.label :name, "施設名称" %></th>
          <th><%= f.text_field :name %></th>
        </tr>
        <tr>
          <th><%= f.label :introduction, "感想　おすすめポイント" %></th>
          <th><%= f.text_area :introduction %></th>
        </tr>
        <tr>
          <th><%= f.label :tag_list, "タグを追加" %></th>
          <th>
            <%= f.text_field :tag_list, value: @place.tag_list.join(',') %>
            <%= f.hidden_field :tag_list %>
          </th>
        </tr>
        <tr>
          <th><%= f.label :time, "所要時間" %></th>
          <th><%= f.text_field :time %>時間</th>
        </tr>
        <tr>
          <th></th>
          <th><%= f.submit "投稿イメージを確認する", class: "btn btn-success" %></th>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>