<div class="container">
  <h4>Place新規登録</h4>

  <%= form_with model: @place, url: places_path, method: :post do |f| %>

    <%= f.label :place_genre_id, "ジャンル" %>
    <%= f.collection_select :place_genre_id, PlaceGenre.all, :id, :name, :prompt => "--ジャンルを選択してください--" %>

    <%= f.label :image, "画像" %>
    <%= f.attachment_field :image %>

    <%= f.label :name, "施設名称" %>
    <%= f.text_field :name %>

    <%= f.label :introduction, "感想　おすすめポイント" %>
    <%= f.text_area :introduction %>

    <%= f.label :tag_list, "タグを追加" %>
    <%= f.text_field :tag_list, value: @place.tag_list.join(',') %>

    <%= f.text_field :address %>

    <input type="button" value="検索" onclick="codeAddress()">

    <div id='map'></div>

    <style>
    #map {
      height: 400px;
      width: 400px;
    }
    </style>

    <script>
    let map
    function initMap(){
      geocoder = new google.maps.Geocoder()

      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 40.7828, lng:-73.9653},
        zoom: 12,
      });

      marker = new google.maps.Marker({
        position:  {lat: 40.7828, lng:-73.9653},
        map: map
      });
    }
    
    let geocoder

    function codeAddress(){
      let inputAddress = document.getElementById('address').value;

      geocoder.geocode( { 'address': inputAddress}, function(results, status) {
        if (status == 'OK') {
          map.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
          });
        } else {
          alert('該当する結果がありませんでした：' + status);
        }
      });
    }
    
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZbqOn4l4qqJtIF4mVm_JO87YklwwvaBs&callback=initMap" async defer></script>

    <%= f.submit "投稿イメージを確認する", class: "btn btn-success" %>

  <% end %>
</div>