<div class="container">
  <div class="row justify-content-center">
    <% if @tags.present? %>
      <% @tags.each do |tag| %>
        # <%= tag.name %>
      <% end %>
    <% end %>
  </div>

  <div class="card mx-auto mt-3" style="width: 500px;">
    <%= image_tag @place.image.url %>
    <div class="card-body">
      <h5 class="card-title"><%= @place.name %> by <%= @place.user.name %></h5>
      <p class="card-text">
        所要時間　<%= @place.time %>時間<br>
        <%= @place.introduction %>
      </p>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <% if @place.liked_by?(current_user) %>
      <button type="button" class="btn btn-warning">
        <%= link_to place_likes_path(@place), method: :delete, class: "text-dark" do %>
          ♥ <%= @place.likes.count %> お気に入りを解除
        <% end %>
      </button>
    <% else %>
      <button type="button" class="btn btn-warning">
        <%= link_to place_likes_path(@place), method: :post, class: "text-dark" do %>
          ♡ <%= @place.likes.count %> お気に入りに追加
        <% end %>
      </button>
    <% end %>
  </div>
</div>