<div class="container">
  <div class="row justify-content-center">
    <h5 class="bg-dark text-white p-2"><%= @place.name %></h5>
    
  </div>
  <div class="row justify-content-center">
    <% if @tags.present? %>
      <% @tags.each do |tag| %>
        # <%= tag.name %>
      <% end %>
    <% end %>
  </div>
  <div class="row justify-content-end">
    <p>by <%= @place.user.name %></p>
  </div>
  <div class="row justify-content-center">
    <%= image_tag attachment_url(@place, :image, :fill, 300, 300, fallback: "logo2.png") %>
  </div>
  <div class="row justify-content-center">
    <%= @place.introduction %>
  </div>
  <div class="row justify-content-center">
    所要時間　<%= @place.time %>時間
  </div>

  <div class="row justify-content-center mt-3">
    <% if @place.liked_by?(current_user) %>
      <button type="button" class="btn btn-warning">
        <%= link_to place_likes_path(@place), method: :delete, class: "text-dark" do %>
          ♥ <%= @place.likes.count %> お気に入りを解除
        <% end %>
      </button>
    <% else %>
      <button type="button" class="btn btn-warning">
        <%= link_to place_likes_path(@place), method: :post, class: "text-dark" do %>
          ♡ <%= @place.likes.count %> お気に入りに追加
        <% end %>
      </button>
    <% end %>
  </div>
</div>