<div class="container">
  <div class="row">
    <%= render 'place_card', place: @place %>

    <div class="col-lg-4 col-sm-12 col-xs-12 mx-auto my-3">
      <h5 class="text-center">住所</h5>
      <p class="text-center"><%= @place.prefecture_i18n %>　<%= @place.address %></p>
      <div class="mx-auto" id='map'></div>
      <style>
      #map {
        height: 300px;
        width: 300px;
      }
      </style>

      <script>
        let map
        let geocoder

        function initMap(){
          geocoder = new google.maps.Geocoder()
          var test ={lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};

          map = new google.maps.Map(document.getElementById('map'), {
            center: test,
            zoom: 15,
          });

          var contentString = '住所：<%= @place.address %>';
          var infowindow = new google.maps.InfoWindow({
            content: contentString
          });

          marker = new google.maps.Marker({
            position:  test,
            map: map,
            title: contentString
          });
        }
      </script>
    　<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>

    </div>
  </div>

  <div class="row justify-content-center my-5">
    <% if @place.liked_by?(current_user) %>
      <%= link_to place_likes_path(@place), method: :delete, class: "btn btn-warning text-dark" do %>
        ♥ <%= @place.likes.count %> お気に入りを解除
      <% end %>
    <% else %>
      <%= link_to place_likes_path(@place), method: :post, class: "btn btn-warning text-dark" do %>
        ♡ <%= @place.likes.count %> お気に入りに追加
      <% end %>
    <% end %>
  </div>
</div>