<div class="container">
  <div class="row justify-content-center">
    <h5>内容を確認してください</h5>
  </div>

  <div class="row justify-content-center">
    <div class="bg-info">
        <h6><%= @plan.name %></h6>
    </div>
    by <%= @plan.user.name %>
    </div>
  </div>

  <div class="row">
    <% if @tags.present? %>
      <div class="border border-dark border-4 rounded-2">
        <% @tags.each do |tag| %>
          <%= tag.name %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <%= @plan.time %>
    <%= @plan.place_name %>
  </div>

  <div class="row">
    <%= image_tag @plan.image.url %>
    <%= @plan.introduction %>
  </div>

  <%= form_with model: @plan, url: plans_path, method: :post do |f| %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :place_name %>
    <%= f.hidden_field :image %>
    <%= f.hidden_field :image_cache %>
    <%= f.hidden_field :time %>
    <%= f.hidden_field :introduction %>
    <%= f.hidden_field :tag_list %>
    <%= f.submit "投稿する", class: "btn btn-success" %>
    <%= f.submit "修正する", name: :back, class: "btn btn-primary" %>
  <% end %>


</div>