<div class="container">
  <h4>Plan新規投稿</h4>

  <p>1日目</p>
  <%= form_with model: @plan, url: plans_path, method: :post do |f| %>
    <%= f.label :name, "プラン名" %>
    <%= f.text_field :name %>

    <%= f.label :time, "時間" %>
    <%= f.time_select :time, :minute_step => 15 %>

    <%= f.label :place_name, "施設名称" %>
    <%= f.text_field :place_name %>

    <%= f.label :image, "画像" %>
    <%= f.attachment_field :image %>

    <%= f.label :introduction, "感想　おすすめポイント" %>
    <%= f.text_area :introduction %>

    <%= f.label :tag_list, "タグ付け" %>
    <%= f.text_field :tag_list, value: @plan.tag.join(',') %>
  <% end %>
</div>