<div class="container">
  <div class="row justify-content-center">
    <h3 class="bg-light">Plan新規投稿</h3>
  </div>

  <div class="row ml-5 mb-2">
    <h5 class="font-weight-bold">1日目</h5>
  </div>

  <%= form_with model: @plan, url: confirm_plans_path, method: :post do |f| %>

    <div class="table-responsive">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th><%= f.label :name, "プラン名" %></th>
            <th><%= f.text_field :name %></th>
          </tr>
          <tr>
            <th><%= f.label :tag_list, "タグを追加(複数追加する場合は(,)で区切ってください)" %></th>
            <th><%= f.text_field :tag_list, value: @plan.tag_list.join(',') %></th>
          </tr>
          <tr>
            <th><%= f.label :time, "時間" %></th>
            <th><%= f.number_field :time, in: 0..24 %>：00～</th>
          </tr>
          <tr>
            <th><%= f.label :place_name, "施設名称" %></th>
            <th><%= f.text_field :place_name %></th>
          </tr>
          <tr>
            <th><%= f.label :images, "画像" %></th>
            <th>
              <%= f.file_field :images, multiple: true %>
              <%= f.hidden_field :image_cache %>
            </th>
          </tr>
          <tr>
            <th><%= f.label :introduction, "感想　おすすめポイント" %></th>
            <th><%= f.text_area :introduction %></th>
          </tr>
          <tr>
            <th></th>
            <th><%= f.submit "投稿イメージを確認する", class: "btn btn-success" %></th>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
</div>