<div class="container">
  <div class="row justify-content-center mb-3">
    <h5 class="bg-dark text-white p-2"><%= @plan.name %></h5>
    <h6 class="ml-3">by <%= @plan.user.name %></h6>
  </div>

  <div class="row">
    <% if @tags.present? %>
      <div class="border border-dark border-4 rounded-2">
        <% @tags.each do |tag| %>
          <%= tag.name %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="card mx-auto" style="width: 18rem;">
    <%= image_tag @plan.image.url %>
    <div class="card-body">
      <h5 class="card-title"><%= @plan.place_name %>  <%= @plan.time %></h5>
      <p class="card-text"><%= @plan.introduction %></p>
    </div>
  </div>


  <div class="row justify-content-center mt-3">
    <% if @plan.liked_by?(current_user) %>
      <button type="button" class="btn btn-warning">
        <%= link_to plan_likes_path(@plan), method: :delete, class: "text-dark" do %>
          ♥ <%= @plan.likes.count %> お気に入りを解除
        <% end %>
      </button>
    <% else %>
      <button type="button" class="btn btn-warning">
        <%= link_to plan_likes_path(@plan), method: :post, class: "text-dark" do %>
          ♡ <%= @plan.likes.count %> お気に入りに追加
        <% end %>
      </button>
    <% end %>
  </div>
</div>