<div class="container">

  <%= render 'plan', plan: @plan %>

  <div class="row justify-content-center mt-3">
    <% if @plan.liked_by?(current_user) %>
      <%= button_to plan_likes_path(@plan), method: :delete, class: "btn btn-warning text-dark" do %>
        ♥ <%= @plan.likes.count %> お気に入りを解除
      <% end %>
    <% else %>
      <%= button_to plan_likes_path(@plan), method: :post, class: "btn btn-warning text-dark" do %>
        ♡ <%= @plan.likes.count %> お気に入りに追加
      <% end %>
    <% end %>
  </div>
</div>