<div class="container">
  <div class="row justify-content-center">
    <h3 class="bg-secondary text-white p-1 mt-3">プロフィール編集</h3>
  </div>

  <%= form_with model: @user, url: user_path(@user.id), method: :patch do |f| %>

    <div class="field my-3">
      <%= f.label :name, "ユーザーネーム" %><br>
      <%= f.text_field :name %>
    </div>

    <div class="field mb-3">
      <%= f.label :prefecture, "居住地" %><br>
      <%= f.select :prefecture, User.prefectures_i18n.invert %>
    </div>

    <div class="field mb-5">
      <%= f.label :email, "メールアドレス" %><br>
      <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <div class="actions">
      <%= f.submit "変更を保存する", class: "btn btn-success mt-3" %>
    </div>
  <% end %>

  <div class="row justify-content-around text-reset my-3">
    <%= link_to "退会する", unsubscribe_path, class: "btn btn-outline-danger" %>
  </div>
</div>
