<div class="container">
  <div class="row justify-content-center">
    <h4>ユーザー情報</h4>
  </div>

  <%= form_with model: @user, url: registration_path(resource_name), method: :patch do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>

    <table class="table table-borderless">
      <tbody>
        <tr>
          <th><%= f.label :name, "ユーザーネーム" %></th>
          <th><%= f.text_field :name %></th>
        </tr>
        <tr>
          <th><%= f.label :prefecture, "居住地" %></th>
          <th><%= f.select :prefecture, User.prefectures_i18n.invert %></th>
        </tr>
        <tr>
          <th><%= f.label :email, "メールアドレス" %></th>
          <th><%= f.email_field :email, autocomplete: "email" %></th>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
        </tr>
        <tr>
          <td>パスワードを変更しない場合は空白のまま</td>
        </tr>
        <tr>
          <th>
            <%= f.label :password, "新しいパスワード" %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %>文字以上)</em>
            <% end %>
          </th>
          <th>
            <%= f.password_field :password, autocomplete: "new-password" %>
          </th>
        </tr>
        <tr>
          <th><%= f.label :password_confirmation, "新しいパスワード(確認用)" %></th>
          <th><%= f.password_field :password_confirmation, autocomplete: "new-password" %></th>
        </tr>
        <tr>
          <th><%= f.label :current_password, "確認のため現在のパスワードを入力してください" %></th>
          <th><%= f.password_field :current_password, autocomplete: "current-password" %></th>
        </tr>
        <tr>
          <th><%= f.submit "変更を保存する", class: "btn btn-success" %></th>
          <th><%= link_to "退会する", unsubscribe_path, class: "btn btn-danger" %></th>
        </tr>
      </tbody>
    </table>
  <% end %>

</div>
