<div class="container">
  <div class="row justify-content-center">
    <h3 class="bg-secondary text-white p-1">プロフィール編集</h3>
  </div>

  <%= form_with model: @user, url: registration_path(resource_name), method: :patch do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>

    <div class="field my-3">
      <%= f.label :name, "ユーザーネーム" %><br>
      <%= f.text_field :name %>
    </div>

    <div class="field mb-3">
      <%= f.label :prefecture, "居住地" %><br>
      <%= f.select :prefecture, User.prefectures_i18n.invert %>
    </div>

    <div class="field mb-5">
      <%= f.label :email, "メールアドレス" %><br>
      <%= f.email_field :email, autocomplete: "email" %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>

    <div class="text-warning">
       ※パスワードを変更しない場合は空白のままにしてください！
    </div>

    <div class="field mb-3">
      <%= f.label :password, "新しいパスワード" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
      <% end %><br>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field mb-3">
      <%= f.label :password_confirmation, "新しいパスワード(確認用)" %><br>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "変更を保存する", class: "btn btn-success mt-3" %>
    </div>
  <% end %>

  <div class="row justify-content-end text-reset">
    <%= link_to "退会する", unsubscribe_path, class: "btn btn-outline-danger" %>
  </div>
</div>
