  <% plans.each do |plan| %>
    <div class="card shadow mx-auto my-3" style="max-width: 500px;">
      <div class="card-body text-center">
        <h5 class="card-title"><%= plan.name %></h5>
        <p class="card-text">
          <% plan.tag_list.each do |tag| %>
            <%= tag %>
          <% end %>
        </p>
        <h6 class="card-subtitle text-right mb-2">posted by <%= plan.user.name %></h6>
        <% plan.images.each do |image| %>
          <%= image_tag image.to_s, class: "mt-2" %>
        <% end %>
        <p class="card-text mt-2">
          <%= plan.time %>:00～<br>
          <%= plan.place_name %><br>
          <%= plan.introduction %>
        </p>
        <% if signed_in? && current_user.id == plan.user.id %>
          <%= link_to "編集する", edit_plan_path(plan.id), class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% places.each do |place| %>
    <div class="card shadow mx-auto my-3" style="max-width: 500px;">
      <div class="card-body text-center">
        <p class="card-text">
          <% place.tag_list.each do |tag| %>
            #<%= tag %>
          <% end %>
        </p>
        <h4 class="card-title"><%= place.address %></h4>
        <h6 class="card-subtitle text-right">posted by <%= place.user.name %></h6>
        <%= image_tag place.image.url %>
        <p class="card-text py-3">
          ≪ 所要時間 ≫　<%= place.time %>時間<br>
          <%= place.introduction %>
        </p>
        <% if signed_in? && current_user.id == place.user.id %>
          <%= link_to "編集する", edit_place_path(place.id), class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  <% end %>

