<div class="container">
  <div class="row justify-content-center">
    <h3>My Page</h3>
  </div>

  <div class="row mt-3">
    <div class="col-4">
      <div class="card border-info bg-light mb-3" style="max-width: 13rem;">
        <div class="card-header font-weight-bold text-center">ユーザー情報</div>
        <div class="card-body">
          <p class="card-text">名前　　　<%= @user.name %></p>
          <p class="card-text">居住地　　<%= @user.prefecture_i18n %>在住</p>
          <div class="text-center">
            <%= link_to "編集する", edit_users_path(current_user), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
      <div class="card border-success bg-light mb-3" style="max-width: 13rem;">
        <div class="card-header font-weight-bold text-center">投稿する</div>
        <div class="card-body">
          <div class="text-center"><%= link_to "Plan", new_plan_path, class: "btn btn-info px-5" %></div>
          <div class="text-center"><%= link_to "Place", new_place_path, class: "btn btn-danger mt-3 px-5" %></div>
        </div>
      </div>
    </div>

    <div class="col-8">
      <ul class="tab-menu list-unstyled nav pull-light nav-pills justify-content-around">
        <li class=""><a href="#tab1" class="active">お気に入り一覧</a></li>
        <li class=""><a href="#tab2" class="">投稿一覧</a></li>
      </ul>

      <div class="tab-contents">
        <div id="tab1" class="tab">
          <%= render 'like', plan: @like_list %>
        </div>
        <div id="tab2" class="tab">
          <%= render 'list', plans: @plans, tags: @tags, places: @places %>
        </div>
      </div>
    </div>
  </div>
</div>