<div class="container">
  <div class="row justify-content-center">
    <h3>My Page</h3>
  </div>

  <div class="row mt-3">
    <div class="col-4">
      <div class="card border-info bg-light mb-3" style="max-width: 13rem;">
        <div class="card-header font-weight-bold text-center">ユーザー情報</div>
        <div class="card-body">
          <p class="card-text">名前　　　<%= @user.name %></p>
          <p class="card-text">居住地　　<%= @user.prefecture_i18n %>在住</p>
          <div class="text-center">
            <%= link_to "編集する", edit_users_path(current_user), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
      <div class="card border-success bg-light mb-3" style="max-width: 13rem;">
        <div class="card-header font-weight-bold text-center">投稿する</div>
        <div class="card-body">
          <div class="text-center"><%= link_to "Plan", new_plan_path, class: "btn btn-info px-5" %></div>
          <div class="text-center"><%= link_to "Place", new_place_path, class: "btn btn-danger mt-3 px-5" %></div>
        </div>
      </div>
    </div>

    <div class="col">
      <p>お気に入り一覧</p>
      <% if @like_list.present? %>
        <% @like_list.each do |plan| %>
          <%= link_to plan.name %>
          <%= plan.introduction %>
        <% end %>
      <% end %>
    <div class="col-4">
      <%= link_to "投稿一覧", users_path %>
    </div>
    </div>
  </div>
</div>