<!DOCTYPE html>
<html>
  <head>
    <title>TriPlan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </head>

  <body>
    <header class="shadow-sm" style="height: 100px">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/"><%= image_tag('logo4.png') %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
                <li><%= link_to "会員一覧", admin_users_path, class: "btn btn-outline-secondary mr-2" %></li>
                <li><%= link_to "ジャンル追加", admin_place_genres_path, class: "btn btn-outline-secondary mr-2" %></li>
                <li><%= button_to "Sign Out", destroy_admin_session_path, method: :delete, class: "btn btn-outline-secondary mr-2" %></li>
              <% elsif user_signed_in? %>
                <li><%= link_to "My Page", my_page_path(current_user), class: "btn btn-outline-secondary mr-2" %></li>
                <li><%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary mr-2" %></li>
              <% else %>
                <li><%= link_to "About", about_path, class: "btn btn-outline-secondary mr-2" %></li>
                <li><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-secondary mr-2" %></li>
                <li><%= link_to "Log In", new_user_session_path, class: "btn btn-outline-secondary mr-2" %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li><%= link_to "Plans", plans_path, class: "btn btn-outline-info mr-5" %></li>
          <li><%= link_to "Places", places_path, class: "btn btn-outline-info" %></li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success ml-3" type="submit">Search</button>
        </form>
      </div>
    </nav>



    <%= yield %>
  </body>
</html>
